@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{font-family: 'Roboto-Regular';
    /* background-color:black; */
    overflow-x: hidden;
    background-image:url("https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMzg4Njl8MHwxfHNlYXJjaHwxfHxwaW5rJTIwYmFja2dyb3VuZHxlbnwwfHx8fDE2NTU2MzQ4ODM&ixlib=rb-1.2.1&q=80&w=1080");
    object-fit: cover;
}
header .navbar{padding: .5rem 0;}
/* header nav.navbar .navbar-brand{color:#fff;} */
section.todo-outer {
    width: 100%;
    float: left;
    padding: 30px 0;
}
section.todo-outer h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.glassmorphism{
	background: rgba(255,255,255,0.4);
    border: none;
    outline: none;
    color: #333;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
.todo-inner {
    width: 100%;
    float: left;
    padding: 40px;
    /* box-shadow: 0px 0px 10px #c1c1c1;
    background: #fff; */
}
table tr td button {
    background: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
}
.completed{text-decoration: line-through;}